//- index.jade
extends ./layout.jade

block row-content
  .container
    div.row
      div.col-lg-6.col-md-12.col-xs-12
        select#character_select
      div.col-lg-6.col-md-12.col-xs-12
        div.form-group.row.loading.text-center.loading(style='display:none;')
          h2 &nbsp;
          img(src='images/watson.gif')
        div.form-group.row.error(style='display: none;')
          h2 &nbsp;
          div.well
            p.errorMsg
            div.captcha(style='display:none;margin-bottom:10px;')
              div.g-recaptcha(data-sitekey='6LcRbQkTAAAAAGUFVbnuqDfse-XZASLZwoC34oJV')

        div.results(style='display: none;')
          h2= t('application.label.yourPersonality') + "*"
          div.well
            div.summary-div
            div.text-right(style='color: gray')
              em.small= "*" + t('application.label.comparedFootNote')
            div.text-right(style='color: gray')
              em.small.outputMessageFootnote
      div.results(style='display: none;')
        div.row
          div.col-lg-5.col-md-12.col-xs-12
            h3=t('application.label.personalityData')
            div.col555px.well.traits(style='display: none;')
          div.col-lg-7.col-xs-12.col-md-12
            h3=t('application.label.personalityVisualizationData')
            div.well#vizcontainer

      //- templates to avoid to create HTML in javascript
      div.hidden
        div#header-template
          div.row.theader
            .col-lg-7.col-xs-7
              span= t('application.label.name')
            .col-lg-5.col-xs-5.text-right
              span= t('application.label.value')
        div#trait-template
          div.row
            .tname.col-lg-7.col-xs-7
              span
            .tvalue.col-lg-5.col-xs-5.text-right
              span

        div#model-template
          div.row
            .col-lg-12.col-xs-12.text-center
              span
